header{
	background-color: black;
	color: white;
	text-align: center;
	font-family: "roboto",sans-serif;
}

hr{
	border: 1px solid white;
	margin: 0px;
}

body{
	margin: 0px;
	font-family: "roboto",sans-serif;
	background-color: #f2f2f2;
}

div{
	background-color: white;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 20px;
	padding: 10px;
}

#introducao{
	margin-left: 20px;
}

footer{
	background-color: black;
	color: white;
	font-family: "roboto", sans-serif;
}